<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="setJunior.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <setJunior.Properties.Settings>
      <setting name="avatarStr" serializeAs="String">
        <value>SpaceExplorerSam</value>
      </setting>
      <setting name="musicStr" serializeAs="String">
        <value>defau1t</value>
      </setting>
      <setting name="deckStr" serializeAs="String">
        <value>default</value>
      </setting>
      <setting name="avatarChange" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="decksChange" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="musicChange" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpaceBux" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SFX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="isPlaying" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tempScore" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="globalTired" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Astronimo" serializeAs="String">
        <value>Astronimo</value>
      </setting>
      <setting name="globalHappy" serializeAs="String">
        <value>0.5</value>
      </setting>
    </setJunior.Properties.Settings>
  </userSettings>
</configuration>